body{
    background-image: url(img/sky-mvehfqz6w2ges2dj.jpg);

}
h1{
    display: block;
    color: rgb(255, 0, 174);
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.a{
    display: inline-block;
    background-color: rgb(196, 193, 86);
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 20px;
    padding: 30px;
    border: 1px double darkblue;
    margin: 50px;
   }
   a:hover
   {
       display: inline-block;
       background-color: rgb(35, 223, 182);
       color: rgb(27, 119, 200);
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       font-size: 20px;
       padding: 30px;
       border: 1px double darkblue;
   
   }