body{
    background-image: url(img/sky-mvehfqz6w2ges2dj.jpg);

}
h1{
    display: block;
    color: rgb(255, 0, 174);
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
img{
    margin-right: 12px;
    margin-left: 12px;
    text-align: center;
    width: 347px; 
    height: 487px; 
    display: block; 
}
img:hover {
    border: 3px solid black; 
}
a {
    display: inline-block; 
    text-align: center; 
    margin-top: 5px; 
    color: #4a0083; 
}
